<section class="pages">

  <header class="header">
    <div class="header__container">
      <div class="logo">
        <img src="/assets/images/Logo.png" alt="бургер" class="logo__image">
      </div>
      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a (click)="scrollTo(benefits)" class="header__menu-link">Почему у нас</a>
          </li>
          <li class="header__menu-item">
            <a (click)="scrollTo(menu)" class="header__menu-link">Меню бургеров</a>
          </li>
          <li class="header__menu-item">
            <a (click)="scrollTo(order)" class="header__menu-link">Оформление заказа</a>
          </li>
        </ul>
      </nav>
      <div class="header__currency" title="Изменить валюту" id="change-currency" (click)="changeCurrency()">
        {{currency}}</div>

    </div>
  </header>


  <section class="info">
    <div class="info__container">
      <div class="info__main-info">
        <span class="info__small-info">Новое меню</span>
        <h1 class="info__title">БУРГЕР ЧЕДДЕР</h1>
        <p class="info__text">Мы обновили наше меню, спешите попробовать сезонные новинки и
          насладиться
          отличным вкусом наших бургеров. Готовим для вас лучшие бургеры в городе из отборной
          мраморной говядины.</p>
        <button class="button" id="main-button" (click)="scrollTo(menu)">Смотреть меню</button>
      </div>
      <img src="/assets/images/main_burger.png" alt="burger" class="info__image">
    </div>
  </section>
</section>

<main class="main">
  <section class="benefits" id="benefits" #benefits>
    <div class="benefits__container">
      <h2 class="benefits__title">почему нас выбирают?</h2>
      <div class="benefits__cards">
        <div class="benefits__card">
          <img src="/assets/images/burger.png" alt="" class="benefits__image">
          <h3 class="benefits__card-title">Авторские рецепты</h3>
          <p class="benefits__text">Наши бургеры обладают уникальным сочетанием вкусов и не похожи
            ни
            на какие другие. Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для
            нашего
            меню.</p>
        </div>
        <div class="benefits__card">
          <img src="/assets/images/meat.png" alt="" class="benefits__image">
          <h3 class="benefits__card-title">Авторские рецепты</h3>
          <p class="benefits__text">Наши бургеры обладают уникальным сочетанием вкусов и не похожи
            ни
            на какие другие. Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для
            нашего
            меню.</p>
        </div>
        <div class="benefits__card">
          <img src="/assets/images/food truck.png" alt="" class="benefits__image">
          <h3 class="benefits__card-title">Авторские рецепты</h3>
          <p class="benefits__text">Наши бургеры обладают уникальным сочетанием вкусов и не похожи
            ни
            на какие другие. Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для
            нашего
            меню.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="menu" id="menu" #menu>
    <div class="menu__container">
      <h2 class="menu__title">выберите свой бургер</h2>
      <div class="menu__cards">
        <article class="menu__card" *ngFor="let product of productsData">
          <div class="menu__card-container">
            <img src="{{product.image}}" alt="" class="menu__image">
            <h3 class="menu__card-title">{{product.title}}</h3>
            <p class="menu__text">{{product.text}}</p>
            <div class="menu__card-wrapper">
              <div class="menu__price-wrapper">
                <p class="menu__dollar">{{product.price}} {{currency}}</p>
                <p class="menu__hryvnia">{{product.grams}} гр</p>

              </div>
              <button class="button button_width" id="menu-button" (click)="scrollTo(order, product)">
                <div class="menu__button-wrapper">
                  <p class="menu__button-text">Заказать</p>
                  <img src="/assets/images/shopping-card.png" alt="cart" class="menu__button-image">
                </div>
              </button>
            </div>
          </div>

        </article>



      </div>
    </div>
  </section>

  <section class="order" id="order" #order>
    <div class="order__container">
      <h2 class="order__title">оформление заказа</h2>
      <img src="/assets/images/order_image.png" alt="" class="order__image">
      <div class="order__wrapper">
        <div class="order__form-container">
          <h3 class="order__form-title">Заполните все данные и наш менеджер свяжется с вами для
            подтверждения заказа</h3>
          <form action="" class="form" [formGroup]="form">
            <div class="form__input-wrapper"
              [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('name')?.touched)}">
              <input type="text" placeholder="Выберите товар в списке" class="form__input" id="burger"
                formControlName="order" readonly>
            </div>
            <div class="form__input-wrapper"
              [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)}">
              <input type="text" placeholder="Вашe имя" class="form__input" id="name" formControlName="name">
            </div>

            <div class="form__input-wrapper"
              [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}">
              <input type="text" placeholder="Ваш телефон" class="form__input" id="phone" formControlName="phone">
            </div>

            <button class="button button_width-order" type="submit" id="order-button" (click)="confirmOrder()"
              [disabled]="!form.valid">Оформить
              заказ</button>

          </form>

        </div>
      </div>

    </div>
  </section>

</main>
<footer class="footer">
  <div class="footer__container">
    <img src="/assets/images/Logo.png" alt="бургер хаус" class="logo">
    <p class="footer__text">Все права защищены</p>
  </div>
</footer>